img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.row{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-data p{
  margin: 0;
}

.user-img{
  align-items: center;
}

.app-home{
  margin: 2rem;
}

.repo-list{
  flex-wrap: wrap;
  margin-top: 2rem;
}

.repo-card{
  border: 1px solid black;
  flex: 1 1 45%;
  box-sizing: border-box;
  padding: 10px;
  justify-content: space-between;
}

.repo-card h3{
  margin: 0;
}

.lang-list{
  gap: 10px;
}

.lang-div{
  height: 30px;
}

.language{
  background-color: #428bca;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.pagination{
  margin: 2rem auto;
  align-items: center;
  width: max-content;
}

.page-nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.page-nav-button{
  border: 1px solid #eeeeee;
  background-color: white;
  color: #428bca;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
}
.page-nav-button:disabled{
  color: #9b9b9b;
}

.page-button{
  background-color: white;
  border: 1px solid #eeeeee;
  cursor: pointer;
  color: #428bca; 
  height: 30px;
  width: 30px;
  font-weight: 900;
}

.active-page{
  background-color: #428bca;
  color: white;
}

.prev{
  border-radius: 5px 0 0 5px;
}
.next{
  border-radius: 0 5px 5px 0;
}

.loader{
  height: 100vh;
  align-items: center;
  justify-content: center;
}


/* CSS loader copied from web */

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #428bca;
  border-color: #428bca transparent #428bca transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 10px;
}
.lds-ellipsis div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #428bca;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

