.user-img img{
  height: 170px;
  width: 170px;
  border: #9b9b9b 1px solid;
  border-radius: 50%;
  padding: 3px;
}

.github-message{
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #ff0000;
  text-align: center;
  width: 100%;
}

a{
  text-decoration: none;
  color: #000;
}

.row{
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.search-page{
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.search-box{
  justify-content: center;
  gap: 0;
  border: 2px solid #428bca;
  border-radius: 30px;
  width: fit-content;
  padding: 10px;
}

.search-box input{
  border: none;
  outline: none;
  text-align: center;
  font-size:  16px;
}

.search-box button{
  background-color: #428bca;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  font-size:  16px;
  cursor: pointer;
}

.user-data p{
  margin: 0;
}
.user-data{
  gap: 2rem;
}

.user-img{
  align-items: center;
}

.app-home{
  margin: 2rem;
}

.repo-list{
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: center;
  gap: 3rem;
  min-height: 100vh;
}

.repo-card{
  border: 1px solid black;
  flex: 0 0 45%;
  /* box-sizing: border-box; */
  padding: 10px;
  justify-content: space-between;
  height: 28vh;
}

@media screen and (max-width: 768px){
  .repo-card{
    flex: 0 0 100%;
  }
}

.repo-card h3{
  margin: 0;
}

.lang-list{
  gap: 10px;
}


.language{
  background-color: #428bca;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.pagination{
  margin: 2rem auto;
  align-items: center;
  width: max-content;
}

.button-list{
  gap:0;
  flex-wrap: wrap;
  max-width: 90vw;
  justify-content: center;
}

.page-nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.page-nav-button{
  align-items: center;
  border: 1px solid #eeeeee;
  background-color: white;
  color: #428bca;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  gap: 2px;
  min-width: 80px;
}
.page-nav-button:disabled{
  color: #9b9b9b;
}

.page-button{
  background-color: white;
  border: 1px solid #eeeeee;
  cursor: pointer;
  color: #428bca; 
  height: 30px;
  width: 30px;
  font-weight: 900;
}

.active-page{
  background-color: #428bca;
  color: white;
}

.prev{
  border-radius: 5px 0 0 5px;
}
.next{
  border-radius: 0 5px 5px 0;
}

.loader{
  margin-top: 2rem;
  height: 100vh;
  align-items: center;
  justify-content: center;
}


/* CSS loader copied from web */

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #428bca;
  border-color: #428bca transparent #428bca transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 10px;
}
.lds-ellipsis div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #428bca;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

